<div class="content-wrapper">

    <div class="content-header">

      <div class="container-fluid">

        <div class="row mb-2">

          <div class="col-sm-6">
            <h4 *ngIf="newCampaign" class="m-0 text-dark">Start Campaign for {{game.title}}</h4>
            <h4 *ngIf="!newCampaign" class="m-0 text-dark">Edit Campaign for {{game.title}}</h4>
          </div>

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <section class="content">

      <div class="container-fluid">

        <div class="col-10 col-md-10">
          <div class="mt-2">
            <form [formGroup]="campaignForm">

                <div class="row">

                  <div class="col-5 col-lg-5 col-md-5">
                    <fieldset class="form-group">
                      <legend class="pt-0">In-Game Asset</legend>
                      <div class="form-group">
                        <label>Please select a game asset to display your advert on</label>
                        <small [hidden]="campaignForm.controls.gameAsset.valid || campaignForm.controls.gameAsset.pristine" class="text-danger">
                          <br />You must select a game asset to assign your advert to.
                        </small>
                        <select (change)="selectGameAsset($event.target.value)" class="form-control" formControlName="gameAsset">
                          <option *ngFor="let gameAsset of gameAssets" [value]="gameAsset.id">
                              {{gameAsset.title}}
                          </option>
                        </select>
                      </div>
                    </fieldset>

                    <fieldset *ngIf="selectedGameAssetType" class="form-group">
                      <legend class="pt-0">Advert Content</legend>

                      <div *ngIf="selectedGameAssetType == 'screen'" class="form-group">
                        <label>High Definition Video</label>
                        <small [hidden]="campaignForm.controls.resourceVideoHd.valid" class="text-danger">
                          <br />Failed to upload the file
                        </small>

                        <input type="file" class="form-control-file" (change)="setFileUploadAdditionalParameters(videoUploader,'resourceUrlHd', 'video')" ng2FileSelect [uploader]="videoUploader" formControlName="resourceVideoHd">

                        <input type="hidden" formControlName="resourceUrlHd" [value]="resourceUrlHd" />
                      </div>


                      <div *ngIf="selectedGameAssetType == 'screen'" class="form-group">
                        <label>Standard Definition Video</label>
                        <small [hidden]="campaignForm.controls.resourceVideoSd.valid" class="text-danger">
                          <br />Failed to upload the file
                        </small>

                        <input type="file" class="form-control-file" (change)="setFileUploadAdditionalParameters(videoUploader,'resourceUrlSd', 'video')" ng2FileSelect [uploader]="videoUploader" formControlName="resourceVideoSd">

                        <input type="hidden" formControlName="resourceUrlSd" [value]="resourceUrlSd" />
                      </div>


                      <div *ngIf="selectedGameAssetType == 'texture'" class="form-group">
                        <label>Game Object Texture</label>
                        <small [hidden]="campaignForm.controls.resourceImg.valid" class="text-danger">
                          <br />Failed to upload the file
                        </small>

                        <input type="file" class="form-control-file" (change)="setFileUploadAdditionalParameters(imageUploader,'resourceImg', 'image')" ng2FileSelect [uploader]="imageUploader" formControlName="resourceImgFile">

                        <input type="hidden" formControlName="resourceImg" [value]="resourceImg" />
                      </div>


                      <table class="table table-hover">
                          <tbody>
                            <tr *ngFor="let item of videoUploader.queue">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                                <td *ngIf="videoUploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                <td *ngIf="videoUploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-sm"
                                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm"
                                            (click)="item.cancel()" [disabled]="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            (click)="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let item of imageUploader.queue">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                                <td *ngIf="imageUploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                <td *ngIf="imageUploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-sm"
                                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm"
                                            (click)="item.cancel()" [disabled]="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            (click)="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                          </tbody>
                      </table>

                    </fieldset>

                    <fieldset *ngIf="selectedGameAssetType == 'screen' && selectedGameAssetType" class="form-group">
                      <legend class="pt-0">Video Dimensions</legend>
                      <div class="form-group">
                        <input [(ngModel)]="selectedGameAssetWidth" value={{selectedGameAssetWidth}} type="text" class="form-control" placeholder="Width in px" formControlName="width">
                      </div>
                      <div class="form-group">
                        <input [(ngModel)]="selectedGameAssetHeight" value={{selectedGameAssetHeight}} type="text" class="form-control" placeholder="Height in px" formControlName="height">
                      </div>
                    </fieldset>

                    <fieldset *ngIf="selectedGameAssetType" class="form-group">
                      <legend class="pt-0">Advert Budget</legend>
                      <label for="inlineFormInputGroup">Bid Amount</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">&#36;</div>
                        </div>
                        <input [(ngModel)]="maxBid" type="number" class="form-control" placeholder="Bid Amount" formControlName="maxBid">
                      </div>
                      <label class="inlineFormInputGroup"><small>How much are you prepared to pay per 10 minute advert exposure?</small></label>

                      <br />

                      <label for="inlineFormInputGroup">Max. Daily Budget</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">&#36;</div>
                          </div>
                          <input [(ngModel)]="dailyBudget" type="number" class="form-control" placeholder="Daily Budget" formControlName="dailyBudget">
                        </div>
                        <label for="inlineFormInputGroup"><small>What is the maximum budget you want to pay per day?</small></label>

                        <div *ngIf="maxBid && dailyBudget">
                          <br />
                          <div class="alert alert-info alert-sm">
                            <p>Your advert will have approximately: {{ 10 * (dailyBudget / maxBid) }} mins exposure time per day</p>
                          </div>
                        </div>

                    </fieldset>





                    <fieldset *ngIf="selectedGameAssetType" class="form-group">
                      <legend class="pt-0">Campaign Schedule</legend>
                      <p><small>Your campaign will only run based on your bid compared with other bids using our system algorithm</small></p>

                      <label>Start Date</label>
                      <div NgTempusdominusBootstrapInput name="startDate" [(ngModel)]="startDate" formControlName="startDate" [options]="datePickerOptions"></div>

                      <br />

                      <label>End Date</label>
                      <div NgTempusdominusBootstrapInput name="endDate" [(ngModel)]="endDate" formControlName="endDate" [options]="datePickerOptions"></div>
                    </fieldset>


                    <div class="button">
                      <button type="submit" [disabled]="!campaignForm.valid" class="btn signin-btn" (click)="createCampaign()" [ngClass]="{'btn-invalid' : campaignForm.invalid}">Create Campaign</button>
                    </div>
                  </div>

                  <div class="col-6 col-md-6 offset-md-1">
                    <div class="form-group">
                      <h4>Game Advert Placement</h4>

                      <h5 [innerHTML]="selectedGameAssetTitle">Pending Selection</h5>
                      <div [innerHTML]="selectedGameAssetDescription">Please choose a game asset from the left option to select placement of your advert.</div>

                      <br />

                      <table class="table table-hover">
                        <tbody>
                          <tr>
                            <th><i ngbTooltip="Average Exposure is how many seconds your advert will be viewed by a single player, in a single game session." class="fa fa-question-circle"></i> Avg. Exposure:</th>
                            <td>{{selectedGameAvgExposure + ' seconds / ' + selectedGameAvgSession + ' seconds ('}} {{ selectedGameExposurePercent | number : '1.0-2'}} &#37;)</td>
                          </tr>
                          <tr>
                            <th>Width:</th>
                            <td [innerHTML]="selectedGameAssetWidth"></td>
                          </tr>
                          <tr>
                            <th>Height:</th>
                            <td [innerHTML]="selectedGameAssetHeight"></td>
                          </tr>
                          <tr>
                            <th>Template:</th>
                            <td><div *ngIf="selectedGameAssetSample"><a class="btn btn-sm btn-success" [href]="selectedGameAssetSample">Download Template</a><br />
                              <small>(Send this template to your design team)</small></div></td>
                          </tr>
                        </tbody>
                      </table>

                      <br />
                      <img class="img-fluid img-thumbnail game-asset-screenshot" src={{selectedGameAssetScreenshot}} />
                    </div>
                  </div>

                </div>
            </form>

            <br />
            <br />
          </div>
        </div>

      </div>

    </section>

  </div>