<div class="content-wrapper">

    <div class="content-header">

      <div class="container-fluid">

        <div class="row mb-2">

          <div class="col-sm-6">
            <h4 class="m-0 text-dark">Campaigns</h4>
          </div>
          <!-- /.col -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <section class="content">

      <div class="container-fluid">

        <div class="row">

          <div class="col-10 col-md-10 table">

            <div *ngIf="gameAdAssets.length < 1" class="alert alert-info">
              <p *ngIf="campaignFilter == 'active'">You do not have any active advertising campaigns</p>
              <p *ngIf="campaignFilter == 'archived'">You do not have any archived advertising campaigns</p>
            </div>

            <table *ngIf="gameAdAssets.length > 0" class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Game</th>
                  <th>Game Asset</th>
                  <th>Exposure</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let gameAdAsset of gameAdAssets">
                  <td><img class="img-thumbnail img-fluid campaign-list-thumbnail" src={{gameAdAsset.gameAsset.screenshot}} /></td>
                  <td>{{ gameAdAsset.game.title }}</td>
                  <td>{{ gameAdAsset.gameAsset.title }}</td>
                  <td>{{ gameAdAsset.totalExposure }}</td>
                  <td>{{ gameAdAsset.startDate }}</td>
                  <td>{{ gameAdAsset.endDate }}</td>
                  <td>{{ gameAdAsset.status }} &nbsp;<i *ngIf="gameAdAsset.status == 'Pending'" ngbTooltip="Pending status means this campaign is awaiting approval from the game owner before it goes live" class="fa fa-question-circle"></i></td>
                  <td>
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a *ngIf="gameAdAsset.active" class="dropdown-item" (click)="open(pause,gameAdAsset.id,0)">Pause</a>
                        <a *ngIf="!gameAdAsset.active" class="dropdown-item" (click)="open(activate,gameAdAsset.id,1)">Activate</a>
                        <a class="dropdown-item" routerLink="/start-campaign/{{ gameAdAsset.game.id + '/' + gameAdAsset.id}}">Edit</a>
                        <a *ngIf="campaignFilter == 'active'" class="dropdown-item" (click)="open(archive,gameAdAsset.id)">Archive Campaign</a>
                        <a *ngIf="campaignFilter == 'archived'" class="dropdown-item" (click)="open(removeArchive,gameAdAsset.id)">Re-activate</a>
                        <a *ngIf="campaignFilter == 'archived'" class="dropdown-item" (click)="open(delete,gameAdAsset.id)">Delete Campaign</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </section>


    <ng-template #archive let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Archive</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to archive this campaign?</p>

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="selectedCampaignId" type="hidden">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-outline-dark btn-danger" (click)="c('archive')">Yes, archive it!</button>
      </div>
    </ng-template>


    <ng-template #delete let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="alert alert-danger">
          <p>Are you sure you wish to permanently delete this campaign?</p>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="selectedCampaignId" type="hidden">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-outline-dark btn-danger" (click)="c('delete')">Yes, delete it!</button>
      </div>
    </ng-template>


    <ng-template #removeArchive let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Remove From Archive</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Are you sure you wish to re-enable this campaign and remove it from the archive?</p>

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="selectedCampaignId" type="hidden">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-outline-dark btn-danger" (click)="c('removeArchive')">Yes, re-enable it!</button>
      </div>
    </ng-template>


    <ng-template #activate let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Activate</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Are you sure you wish to activate this campaign?</p>

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="selectedCampaignId" type="hidden">
          </div>
        </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-outline-dark btn-danger" (click)="c('activate')">Yes, activate it!</button>
      </div>
    </ng-template>



    <ng-template #pause let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Pause</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Are you sure you wish to pause this campaign?</p>

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="selectedCampaignId" type="hidden">
          </div>
        </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-outline-dark btn-danger" (click)="c('activate')">Yes, pause it!</button>
      </div>
    </ng-template>