<div class="content-wrapper">

    <div class="content-header">

      <div class="container-fluid">

        <div class="row mb-2">

          <div class="col-sm-6">
            <h4 class="m-0 text-dark">Campaigns</h4>
          </div>
          <!-- /.col -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <section class="content">

      <div class="container-fluid">

        <div class="row">

          <div class="col-11 col-md-11">

            <div *ngIf="gameAdAssets.length < 1" class="alert alert-info">
              <p *ngIf="campaignFilter == 'approved'">You do not have any approved advertising campaigns</p>
              <p *ngIf="campaignFilter == 'pending'">You do not have any pending advertising campaigns</p>
            </div>

            <table *ngIf="gameAdAssets.length > 0" class="table table-hover table-striped table-dark">
              <thead>
                <tr>
                  <th></th>
                  <th>Game</th>
                  <th>Game Asset</th>
                  <th>Bid / Max. Daily <i ngbTooltip="Bid rate is per 1,000 unique game sessions / Max daily rate is maximum to be paid per day" class="fa fa-question-circle"></i></th>
                  <th>Exposure / Avg. Exposure <i ngbTooltip="Total Exposure / Unique Sessions" class="fa fa-question-circle"></i></th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let gameAdAsset of gameAdAssets">
                  <td><img class="img-thumbnail img-fluid campaign-list-thumbnail" src={{gameAdAsset.gameAsset.screenshot}} /></td>
                  <td>{{ gameAdAsset.game.title }}</td>
                  <td>{{ gameAdAsset.gameAsset.title }}</td>
                  <td>&#36;{{ gameAdAsset.maxBid }} / &#36;{{ gameAdAsset.dailyBudget }}</td>
                  <td>{{ gameAdAsset.totalExposure }} / {{ gameAdAsset.avgExposurePerSession }}</td>
                  <td>{{ gameAdAsset.startDate }}</td>
                  <td>{{ gameAdAsset.endDate }}</td>
                  <td>{{ gameAdAsset.status }} &nbsp;<i *ngIf="gameAdAsset.status == 'Pending'" ngbTooltip="Pending status means this campaign is awaiting your approval" class="fa fa-question-circle"></i></td>
                  <td>
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a *ngIf="gameAdAsset.resourceUrlHd" class="dropdown-item" href="{{API_HOST}}/studio/game/advert/download/{{gameAdAsset.id}}/videoUrlHd?token={{token}}">Download HD Video</a>
                        <a *ngIf="gameAdAsset.resourceUrlSd" class="dropdown-item" href="{{API_HOST}}/studio/game/advert/download/{{gameAdAsset.id}}/videoUrlSd?token={{token}}">Download SD Video</a>
                        <a *ngIf="gameAdAsset.resourceUrlImg" class="dropdown-item" href="{{API_HOST}}/studio/game/advert/download/{{gameAdAsset.id}}/videoUrlImg?token={{token}}">Download Texture</a>
                        <a *ngIf="gameAdAsset.approved" class="dropdown-item danger" (click)="open(stop,gameAdAsset.id)">Stop Advert</a>
                        <a *ngIf="!gameAdAsset.approved" class="dropdown-item success" (click)="open(approve,gameAdAsset.id)">Approve Advert <i class="far fa-check-circle"></i></a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </section>



    <ng-template #approve let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Approve Advert</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Are you sure you wish to approve this advert?</p>
        <p>Once approved players can start seeing this advert within seconds.</p>

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="selectedCampaignId" type="hidden">
          </div>
        </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-outline-dark btn-danger" (click)="c('approve')">Yes, approve it!</button>
      </div>
    </ng-template>



    <ng-template #stop let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Stop Advert</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Are you sure you wish to stop this advert?</p>
        <p><small>By stopping this advert it will be placed into the 'Pending' options for your later approval.</small></p>

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="selectedCampaignId" type="hidden">
          </div>
        </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-outline-dark btn-danger" (click)="c('stop')">Yes, stop it!</button>
      </div>
    </ng-template>