<div>
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 m-auto">
        <div class="form-bg mt-5  ">
          <div class="pt-5 pb-5 text-center">
            <a href="">
              <img src="/assets/images/raidparty-logo.png">
            </a>
          </div>
          <form [formGroup]="loginForm">
            <div class="alert alert-info">
              <p>This platform is currently in demo only mode. None of your campaigns will appear in live production games, nor will your
              advertising budget be used.</p>
            </div>
            <br />
            
            <div class="form-heading mb-4 text-center">
              <h3>Advertiser Login</h3>
            </div>

              <div class="form-group">
                <input type="email" name="" class="form-control" placeholder="email address" formControlName="email">
                <small [hidden]="loginForm.controls.email.valid || loginForm.controls.email.pristine" class="text-danger">
                  Valid Email is required
                </small>
              </div>
              <div class="form-group">
                <input type="password" name="" class="form-control" placeholder="password" formControlName="password">
                <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.pristine" class="text-danger">
                  Password is required
                </small>
              </div>
              <div class="button">
                <a class="btn signin-btn" (click)="login()">SIGN IN</a>
              </div>
              <div class="forgot-pass pt-4 pb-4 ">
                <a routerLink="/forgot-password">Forgot password ?</a>
              </div>
              <div class="button pb-5">
                <a routerLink="/signup" class="btn btn-signup">SIGN UP</a>
              </div>
              
          </form>
        </div>
      </div>
    </div>
  </div>