<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <div class="fixed-top">
      <nav class=" navbar navbar-expand bg-white navbar-light  ">
        <!-- Left navbar links -->
        <div class="brand">
          <a href="dashboard">
            <img src="/assets/images/logo-top-panel.png">
          </a>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="javascript:void(0)">
              <i class="fa fa-bars"></i>
            </a>
          </li>
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link" [ngClass]="{'active': isActive('balance')}" routerLink="/balance">
              &#36;0.00&nbsp;
              Balance
              &nbsp;<i placement="bottom" ngbTooltip="This is a demo account and so this is not a real balance" class="fa fa-question-circle"></i>
            </a>
            <!--<a class="nav-link" [ngClass]="{'active': isActive('wallet')}" routerLink="/wallet">
              <img class="force-symbol-small" src="/assets/images/gold-logo-only-for-print-48x48.png" alt="FORCE" /> &nbsp;
              Token Wallet
            </a>-->
          </li>

          <!-- Notifications Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fa fa-bell-o"></i>
              Notifications
              <span *ngIf="notifications" class="badge badge-danger navbar-badge">{{notifications.length}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-item dropdown-header" *ngIf="notifications">{{notifications.length}} Notifications</span>
              <div *ngFor="let notification of notifications">
                <div class="dropdown-divider"></div>
                <div>
                  <span class="dropdown-item">
                    {{notification.message}}
                    <span class="float-right text-muted text-sm">
                      <a (click)="deleteNotification(notification)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </span>
                  </span>
                </div>

              </div>
            </div>
          </li>
          <!-- Messages Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fa fa-user-circle-o"></i>
              Account
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              
              <a class="dropdown-item" (click)="open(content)">
                <i class="fa fa-pencil-square-o"></i> Update password
              </a>

              <a class="dropdown-item" (click)="logout()">
                <i class="fa fa-sign-out"></i> Logout
              </a>
              
            </div>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->
      <nav class=" navbar navbar-expand-sm navbar-dark bg-dark  dashboard-menu ">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample03" style="">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': isActive('dashboard')}" routerLink="/dashboard"> Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': isActive('campaigns')}" routerLink="/campaigns">Campaigns</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Update Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label>Enter current password</label><br />
          <input [(ngModel)]="currentPassword" type="password" id="currentPassword" class="form-control" placeholder="Current Password">
        </div>

        <div class="form-group">
          <label>New password</label><br />
          <input [(ngModel)]="newPassword" type="password" id="newPassword" class="form-control" placeholder="New Password">
        </div>

        <div class="form-group">
          <label>Re-type new password</label><br />
          <input [(ngModel)]="newPasswordRepeat" type="password" id="newPasswordRepeat" class="form-control" placeholder="Re-enter New Password">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('save')">Save</button>
      </div>
    </ng-template>