
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary">
   <div class="sidebar">

      <nav class="mt-2" *ngIf="isActive('campaigns')">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">OPTIONS</li>
            <li class="nav-item">
               <a (click)="setGameCampaignFilter('approved')" [ngClass]="{'active': gameCampaignFilter === 'approved'}" class="nav-link ">
                  <p><i class="fa fa-check"></i>&nbsp; Approved Adverts</p>
               </a>
               <a (click)="setGameCampaignFilter('pending')" [ngClass]="{'active': gameCampaignFilter === 'pending'}" class="nav-link ">
                  <p><i class="fa fa-archive"></i>&nbsp; Pending Adverts &nbsp;<i *ngIf="gameCampaignCount > 0" class="fas fa-exclamation-circle danger"></i></p>
               </a>
            </li>
         </ul>
      </nav>


      <nav class="mt-2" *ngIf="isActive('dashboard')">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">OPTIONS</li>
            <li class="nav-item">
               <a (click)="setGameFilter('active')" [ngClass]="{'active': gameFilter === 'active'}" class="nav-link">
                  <p><i class="fa fa-check"></i>&nbsp; Live Games</p>
               </a>
               <a (click)="setGameFilter('archived')" [ngClass]="{'active': gameFilter === 'archived'}" class="nav-link">
                  <p><i class="fa fa-archive"></i>&nbsp; Archived Games</p>
               </a>
            </li>
         </ul>
      </nav>

   </div>
</aside>