<div>
  <div class="container">
    <div class="row">
      <div class="col-11 col-md-8 m-auto">
        <div class="form-bg mt-5  ">
          <div class="pt-5 pb-5 text-center">
            <a href="">
              <img src="/assets/images/raidparty-logo.png">
            </a>
          </div>
          <form [formGroup]="forgotPasswordForm" *ngIf="isForgetPassword; else change">
            <div class="alert alert-info">
              <p>This platform is currently in demo only mode. None of your campaigns will appear in live production games, nor will your
              advertising budget be used.</p>
            </div>
            <br />
            
              <div class="form-heading mb-4 text-center">
                <h3>Forgot Password</h3>
              </div>

              <div class="form-group ">
                <input type="email " name=" " class="form-control " placeholder="email address" formControlName="email">
              </div>
              <div class="button ">
                <a (click)=resetPassword() class="btn signin-btn ">Send Password Reset Link</a>
              </div>
              <div class="button pb-5 pt-4 ">
                <a href="javascript:history.back() " class="btn btn-signup "> Back </a>
              </div>
          </form>


          <ng-template #change>
            <form [formGroup]="changePasswordForm">
              <div class=" form-heading mb-4 ">
                <h3>Reset your Password</h3>
              </div>
              <div class="custom-form">
                <input type="hidden" [value]="userId" formControlName="userId">
                <input type="hidden" [value]="pin" formControlName="pin">
                <input type="hidden" [value]="email" formControlName="email">

                <div class="form-group ">
                  <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                </div>
                <div class="form-group ">
                  <input type="password" class="form-control" placeholder="Re-type New Password" formControlName="passwordCheck">
                </div>

                <div class="button ">
                  <a (click)=changePassword() class="btn signin-btn ">Update Password</a>
                </div>
              </div>
            </form>
          </ng-template>

          <br /><br />


        </div>
      </div>
    </div>
  </div>