<div class="content-wrapper">

    <div class="content-header">

      <div class="container-fluid">

        <div class="row mb-2">

          <div class="col-sm-6">
            <h4 class="m-0 text-dark" *ngIf="games">Your Games</h4>
          </div>
          <!-- /.col -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <section class="content">

      <div class="container-fluid">

        <div class="row">

          <div class="col-10 col-md-10">

            <div class="jumbotron" *ngIf="!games">
                <h1 class="display-4">Tell us about your first game</h1>
                <p class="lead">So that our team can work to secure you extra revenue, please upload information about your games you want us to promote.</p>

                <hr class="my-4">

                <p class="lead">
                  <a class="btn btn-outline-info" routerLink="/game/create" role="button">Get Started &raquo;</a>
                </p>
            </div>

          </div>


          <div class="col-lg-3 col-sm-6 col-12" *ngFor="let game of games">
            <div class="card card-info card-outline">
              <img class="img-fluid game-list-img" src={{game.avatar}}>

              <li class="list-group-item game-title-li">

                <div class="game-download-icon-links">

                  <div class="row">
                    <div class="col-2 col-md-2">
                      <div placement="bottom" ngbTooltip="This game has {{game.gameAdAsset.length}} advertising campaigns assigned">
                        <i class="fa fa-map-marker"></i> &nbsp;{{game.gameAdAsset.length}}
                      </div>
                    </div>

                    <div class="col-10 col-md-10">
                      <ul class="list-inline text-right">
                        <li class="list-inline-item" *ngFor="let platform of game.gamePlatforms">
                          <a target="play-game" href={{platform.link}}>
                            <i class="fa fa-{{platform.type}}"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>

                <h3>{{game.title}}</h3>
                <div class="game-description" [innerHTML]="game.dynamicAdsDescription">
                </div>

                <button type="button" data-toggle="collapse" class="btn btn-outline-primary center" [attr.data-target]="'#' + game.gameId">
                  Show Demographics
                </button>

              </li>
              <li id={{game.gameId}} class="collapse list-group-item popover-hover">

                  <ul class="p-0 mt-2 ">
                    <li class="list-group-item popover-hover mt-2">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>MAU:</th>
                            <th>{{game.monthlyActiveUsers}}</th>
                          </tr>
                          <tr>
                            <th>Monthly Impressions:</th>
                            <th>{{game.monthlyImpressions}}</th>
                          </tr>
                          <tr>
                            <th>Age Range:</th>
                            <th>{{game.age}}</th>
                          </tr>
                          <tr>
                            <th>Gender</th>
                            <th>{{game.gender}}</th>
                          </tr>
                          <tr>
                            <th>Location</th>
                            <th>{{game.regions}}</th>
                          </tr>
                        </thead>
                      </table>
                    </li>
                  </ul>

              </li>
              <div>
                <div class="btn-group w-100">
                  <a [routerLink]="['/game/create', game.id]" class="btn btn-block bg-dark">
                    <button type="button" class="btn btn-block bg-dark">
                      Edit Game
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>