<div class="content-wrapper">

    <div class="content-header">

      <div class="container-fluid">

        <div class="row mb-2">

          <div class="col-sm-6">
            <h4 class="m-0 text-dark" *ngIf="games && games.length > 0 && !isLoading">Your Games</h4>
          </div>
          <!-- /.col -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <section class="content">

      <div class="container-fluid">

        <div class="row">

          <div class="col-10 col-md-10">

            <div *ngIf="isLoading" class="loading-screen text-center">
              <img src="/assets/images/loading-gif.gif" alt="Loading..." />
            </div>

            <div class="jumbotron" *ngIf="!isLoading && (!games || games.length < 1)">
                <h1 class="display-4">Tell us about your game</h1>
                <p class="lead">Our team will work to secure you extra revenue, based on the information you upload about your games.</p>
                
                <p class="lead">
                  <a class="btn btn-outline-info btn-lg" routerLink="/game/create" role="button">Get Started &raquo;</a>
                </p>

                <hr class="my-4">

                <p>We have secured advertisement with the following brands:</p>

                <div class="row">

                  <div class="col-3">
                    <img class="img-fluid" src="/assets/images/axn-logo.png" alt="AXN" />
                  </div>

                  <div class="col-3">
                    <img class="img-fluid" src="/assets/images/dominos-logo.png" alt="Dominos" />
                  </div>

                  <div class="col-3">
                    <img class="img-fluid" src="/assets/images/vodafone-logo.png" alt="" />
                  </div>

                  <div class="col-3">
                    <img class="img-fluid" src="/assets/images/m&ms-logo.png" alt="" />
                  </div>

                </div>

            </div>

          </div>


          <div class="col-11 col-md-11">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th>Screenshot</th>
                  <th>Name</th>
                  <th>Platform Links</th>
                  <th>Live Advert Campaigns</th>
                  <th>Pending Advert Campaigns</th>
                  <th>Revenue</th>
                  <th>Options</th>
                </tr>
              </thead>
                <tbody>
                  <tr *ngFor="let game of games">
                    <td><img class="img-thumbnail img-fluid campaign-list-thumbnail" src={{game.avatar}} /></td>
                    <td>{{ game.title }}</td>
                    <td><div *ngFor="let platform of game.gamePlatforms">
                      <a class="game-download-link-dark" *ngIf="platform.active" target="play-game" href={{platform.link}}>
                        <i class="{{platform.fontAwesome}}"></i>
                      </a></div></td>
                    <td>{{ game.gameAdAsset.length }}</td>
                    <td>{{ game.gameAdAsset.length }}</td>
                    <td>&#36;0.00</td>
                    <td>
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" routerLink="/campaigns/{{ game.id }}">Review Ads</a>
                          <a class="dropdown-item" routerLink="/game/create/{{ game.id }}">Edit</a>
                          <a *ngIf="campaignFilter == 'active'" class="dropdown-item" (click)="open(archive,game.id)">Archive Game</a>
                          <a *ngIf="campaignFilter == 'archived'" class="dropdown-item" (click)="open(removeArchive,game.id)">Re-activate</a>
                          <a *ngIf="campaignFilter == 'archived'" class="dropdown-item" (click)="open(delete,game.id)">Delete Game</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>

        </div>

    </section>