<div class="public-page">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/assets/images/raidparty-icon-logo.png" alt="RaidParty Mini Logo" /></a>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger btn btn-sm btn-outline-dark" routerLink="/signup">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Start making money from your games from dynamic advertisement</h1>
              <a routerLink="/signup" class="btn btn-outline btn-xl js-scroll-trigger">Get Started!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
              <video width="600" height="auto" class="video-fluid" controls loop muted autoplay>
                <source src="/assets/videos/axn-dominos-demo.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
          </div>
        </div>
      </div>
    </header>




    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Any Platform, Any Item!</h2>
          <p class="text-muted"></p>
          <hr>
        </div>

        <div class="row">

          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="/assets/images/dynamic-advertisement-examples.png" class="img-fluid" alt="Dynamic In-Game advertisement examples">
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 my-auto">

            <div class="container-fluid">

              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-screen-smartphone text-primary"></i>
                    <h3>Cross-platform</h3>
                    <p class="text-muted">Our technology is fully integrated with Unity3D and Unreal, with easy to use SDKs to have you up and running in hours not days.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-camera text-primary"></i>
                    <h3>Huge Global Brands</h3>
                    <p class="text-muted">We are connected to global brands that want to get into your game and will pay for premium placements.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-present text-primary"></i>
                    <h3>Drive More Players</h3>
                    <p class="text-muted">Our player network is very active and willing to try out your game. We can even help you with a successful beta launch.</p>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-lock-open text-primary"></i>
                    <h3>Retain Players</h3>
                    <p class="text-muted">Keep your players for longer, with in-built reward system that lets players earn for reaching specific in-game achievements.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-10 offset-md-1 offset-1 text-center">

                  <div class="row">
                    <div class="col-6">
                      <img class="img-fluid" src="/assets/images/unity-logo-small.png" alt="Unity3D Logo small" />
                    </div>
                    <div class="col-6">
                      <img class="img-fluid" src="/assets/images/unreal-logo-small.png" alt="Unreal Logo small" />
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>


    <section class="stats" id="stats">

      <div class="container">

        <div class="row">

          <div class="col-lg-4 my-auto text-center stat-icon">
            <i class="fa fa-trophy fa-3x"></i>
          </div>

          <div class="col-lg-4 my-auto text-center stat-icon">
            <i class="fa fa-thumbs-up fa-3x"></i>
          </div>

          <div class="col-lg-4 my-auto text-center stat-icon">
            <i class="fa fa-dollar-sign fa-3x"></i>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-4 my-auto text-center">
            <h3>6+ Games Published</h3>
          </div>

          <div class="col-lg-4 my-auto text-center">
            <h3>121&#37;+ Player Retention</h3>
          </div>

          <div class="col-lg-4 my-auto text-center">
            <h3>Over &#36;500k Invested</h3>
          </div>

        </div>

      </div>

    </section>


    <section class="contact bg-primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="google-map align-middle">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4419.310857982004!2d-0.7414740623745925!3d51.997926222433684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xab6c668894377f73!2sBletchley+Park!5e0!3m2!1sen!2suk!4v1533637682755" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <h2 class="pb-3 align-left mbr-fonts-style display-2">
                        Want to know more?
                    </h2>
                    <div>
                        <div class="icon-contacts pb-3">
                            <h5 class="align-left mbr-fonts-style display-7">
                                Speak to Eduardo Monteiro, our resident games expert
                            </h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                Phone: +44 7479 443665<br>
                                Email: eduardo@triforcetokens.io
                            </p>
                        </div>
                    </div>

                    <div data-form-type="formoid">

                        <div class="alert alert-info" *ngIf="formSubmitted">
                          <p>Thank you for your contact request. We will be in touch very soon.</p>
                        </div>

                        <form *ngIf="!formSubmitted" [formGroup]="contactForm">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-6">
                                <input autocomplete='name' type="text" class="form-control" placeholder="Your Name" formControlName="name">
                              </div>

                              <div class="col-6">
                                <input autocomplete='tel' required type="text" class="form-control" placeholder="Contact number" formControlName="telephone">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <input required autocomplete='email' type="email" class="form-control" placeholder="email address" formControlName="email">
                            <small [hidden]="contactForm.controls.email.valid || contactForm.controls.email.pristine" class="text-info">
                              Valid Email is required
                            </small>
                          </div>

                          <div class="form-group">
                            <textarea required rows="6" class="form-control" placeholder="Message" formControlName="message"></textarea>
                          </div>

                          <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LfCVFUUAAAAAH1IxJRQDIn_F2PQ5mmijN-LJIGA"></re-captcha>

                          <div class="button">
                            <button [disabled]="contactForm.invalid" class="btn signin-btn" (click)="contact()">Send Message</button>
                          </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>



<footer>
      <div class="container">
        <p>&copy; TriForce Tokens Ltd 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>


</div>
